<div class="employeeBox">
    <button>Cadastrar funcionário</button>
    <div class="inputBox">
        <label>Search</label>
        <input type="text" name="Search" id="empSearchInpt" placeholder="Enter a employee name">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>LastName</th>
            <th>Dept</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
        <tr>
            <td [ngSwitch]="employee.status">
                <div *ngSwitchCase="true">
                  <img src="public/check.png" alt="Check" width="20" height="20">
                </div>
                <div *ngSwitchDefault>
                  <img src="public/uncheck.png" alt="Uncheck" width="20" height="20">
                </div>
              </td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.dept }}</td>
            <td>
                <button>Edit</button>
            </td>
            <td>
                <button>Details</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
