<div class="employeeBox">
    <button>Cadastrar funcionário</button>
    <div class="inputBox">
        <label>Search</label>
        <input type="text" name="Search" id="empSearchInpt" placeholder="Enter a employee name">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>LastName</th>
            <th>Dept</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="src\assets\Images\check.png" width="20" height="20">
                <img src="src\assets\Images\uncheck.png" width="20" height="20">
            </td>
            <td>Name</td>
            <td>LastName</td>
            <td>Dept</td>
            <td>
                <button>Edit</button>
            </td>
            <td>
                <button>Details</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
